<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="XMLFolder" value="C:\XMLFiles" />
    <add key="CSVFolder" value="C:\CSVFolder" />
    <add key="XMLName" value="LOAD_DATA.xml" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="XmlService"
      address="net.tcp://localhost:8000/IXmlService"
      binding="netTcpBinding"
      contract="Common.IXmlService" />
    </client>
  </system.serviceModel>
</configuration>